<div class="row">
  <div class="col-sm-12">
    <alert ng-repeat="alert in alerts" type="success" close="closeAlert($index)">{{alert.message}}</alert>
    <div class="header">
      <h3>To-Do List: {{title | prettyName}}</h3>
      <p ng-show="!tasks.length">You don't have any task yet!</p>
    </div>
    <form name="myForm" ng-submit="create()">
      <div class="form-group">
        <label class="sr-only" for="new-task">Add a new task to complete</label>
        <input type="text" id="new-task" class="form-control" name="newTask" placeholder="Add a new task to complete" ng-model="newTask" required>
      </div>
      <ul id="task-list" class="list-group" ui-sortable ng-model="tasks">
        <li ng-repeat="task in tasks" ng-class="{completed : task.completed}" class="list-group-item">
            <label>
                <input type="checkbox" ng-model="task.completed" ng-change="complete(task)"> {{task.name}}
            </label>
        </li>
      </ul>
    </form>
    <div class="form-group">
        <button type="submit" class="btn btn-danger btn-block btn-lg" ng-click="clearCompleted()">
          <span class="glyphicon glyphicon-remove"></span>
          Clear completed tasks
        </button>
      </div>
  </div>
</div>
