<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse" ng-show="isLoggedIn">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/" class="navbar-brand">Up and Running Todo Lists</a>
        </div>

        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav" ng-show="isLoggedIn">
                <li>
                    <a href="#/tasks">See all lists</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="isLoggedIn">
                <li><a ng-click="doLogout()">Logout</a></li>
            </ul>
        </nav>
    </div>
</nav>
