<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>List created</strong>
    </div>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Oopss! Something went wrong</strong>
    </div>
    <div class="header">
      <h3>List title</h3>
      <p>You don't have any task yet!</p>
    </div>
    <form action="#" method="post">
      <div class="form-group">
        <label class="sr-only" for="new-task">Add a new task to complete</label>
        <input type="text" id="new-task" class="form-control" name="task" placeholder="Add a new task to complete">
      </div>
      <ul id="task-list" class="list-group">
        <li ng-repeat="task in task.tasks" ng-class="{completed : task.completed}" class="list-group-item">
            <label>
                <input type="checkbox" ng-model="task.completed"> {{task.name}}
            </label>
        </li>
      </ul>
      <div class="form-group">
        <button type="submit" class="btn btn-danger btn-block btn-lg">
          <span class="glyphicon glyphicon-remove"></span>
          Clear completed tasks
        </button>
      </div>
    </form>
  </div>
</div>
