<div class="row">
  <div class="col-sm-12">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <div class="header">
      <h3>Tasks lists</h3>
      <p ng-hide="tasks.length">You don't have any list yet!</p>
    </div>

    <p>
      <a class="btn btn-primary btn-block btn-lg" ng-click="openModal()">
        <span class="glyphicon glyphicon-plus"></span> Create a new list
      </a>
    </p>

    <a ng-repeat="list in lists" href="#/tasks/{{list.name | friendlyUri}}" class="list-group-item">
      <!-- <span class="badge alert-danger">9</span> -->
      <!-- <span class="badge alert-success">10</span> -->
      {{list.name}}
    </a>
  </div>
</div>
