<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>List created</strong>
    </div>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Oopss! Something went wrong</strong>
    </div>
    <div class="header">
      <h3>List title</h3>
      <p>You don't have any task yet!</p>
    </div>
    <form action="#" method="post">
      <div class="form-group">
        <label class="sr-only" for="new-task">Add a new task to complete</label>
        <input type="text" id="new-task" class="form-control" name="task" placeholder="Add a new task to complete">
      </div>
      <ul class="list-group">
        <li class="list-group-item"><label><input type="checkbox"> Task one</label></li>
        <li class="list-group-item"><label><input type="checkbox"> Task two</label></li>
        <li class="list-group-item"><label><input type="checkbox"> Task three</label></li>
        <li class="list-group-item text-muted"><label><input type="checkbox"> Task four</label></li>
        <li class="list-group-item"><label><input type="checkbox"> Task five</label></li>
        <li class="list-group-item text-muted"><label><input type="checkbox"> Task six</label></li>
      </ul>
      <div class="form-group">
        <button type="submit" class="btn btn-danger btn-block btn-lg">
          <span class="glyphicon glyphicon-remove"></span>
          Clear completed tasks
        </button>
      </div>
    </form>
  </div>
</div>
