<div class="row">
  <div class="col-sm-12">
    <!--
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Task created</strong>
    </div>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Oopss! Something went wrong</strong>
    </div>
    -->
    <div class="header">
      <h3>Tasks lists</h3>
      <p ng-hide="tasks.length">You don't have any list yet!</p>
    </div>

    <p>
      <a class="btn btn-primary btn-block btn-lg" ng-click="openModal()">
        <span class="glyphicon glyphicon-plus"></span> Create a new list
      </a>
    </p>

    <a ng-repeat="list in lists" href="#/tasks/{{list.listName | friendlyUri}}" class="list-group-item">
      <!-- <span class="badge alert-danger">9</span> -->
      <!-- <span class="badge alert-success">10</span> -->
      {{list.listName}}
    </a>
  </div>
</div>
